@page "/"
@using Services.Abstractions
@attribute [AllowAnonymous]

@inject IServiceManager ServiceManager

<div class="container">
    <CanvasTextInputComponent></CanvasTextInputComponent>
</div>




@code{

}
