@page "/"

<div class="container">
    <div class="py-4">
        <CanvasComponent></CanvasComponent>
    </div>

    <div class="py-4">
        <MsToDoComponent></MsToDoComponent>
    </div>
</div>

@code {

}
