@using Services.Abstractions
@using Syncfusion.Blazor.Inputs
@inject IServiceManager ServiceManager

<div class="row my-2">
<label class="">API Uri</label>
<SfTextBox @ref="_apiUriTextBox" @bind-Value="@_apiUri" Input="UriValidator" ID="apiUriTextBox" ShowClearButton="true" Placeholder="https://canvas.instructure.com/api/v1/"></SfTextBox>
</div>

<div class="row my-2">

<label class="">API Key</label>
<SfTextBox @ref="_apiKeyTextBox" @bind-value="@_apiKey" Type="InputType.Password" ID="apiKeyTextBox" ShowClearButton="true" Placeholder="YourSecretKey"></SfTextBox>
</div>



@code {
    private SfTextBox _apiUriTextBox;
    private string _apiUri;
    

    private SfTextBox _apiKeyTextBox;
    private string _apiKey;

    protected override void OnInitialized()
    {
    }


    
    private void UriValidator(InputEventArgs args)
    {
        var uriText = args.Value;
        // TODO https is not enforced. Only visual for now 
        var isValid = Uri.IsWellFormedUriString(uriText, UriKind.Absolute) && uriText.StartsWith("https");
        var cssClass = isValid ? "e-success" : "e-error";
        _apiUriTextBox.CssClass = cssClass;
    }
}
