@using CanvasAssignmentSync.Data
@inject CanvasService CanvasService
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3>Canvas Settings</h3>
    <div class="row">
        <label>
            API URI
            <InputText class="form-control" id="apiuri" @bind-Value="model.APIURI"></InputText>
        </label>
    </div>

    <div class=row>
    <label>
        API Key
        <InputText class="form-control" id="apikey" @bind-Value="model.APIKey"></InputText>
    </label>
    </div>
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>Course</td>
                    <td>Sync enabled</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var course in courseList)
                {
                    <tr>
                        <td>@course.Name</td>
                        <td><InputCheckbox class="form-switch" @bind-Value="@course.ShouldSync"></InputCheckbox></td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
    
    <button type="submit" class="btn btn-primary">Apply</button>

    <ValidationSummary/>

</EditForm>

@code {

    CanvasSettings model = new CanvasSettings();

    private List<Course>? courseList;

    protected override async Task OnInitializedAsync()
    {
        courseList = await CanvasService.GetCourseListAsync();
    }


    private void HandleValidSubmit()
    {
        var path = Configuration["CanvasSettingsPath"];
        var canvasSettingsHandler = new SettingsHandler<CanvasSettings>(model, path);
        canvasSettingsHandler.WriteSettingsToFile();
    }
}
