@using CanvasAssignmentSync.Models
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<EditForm Model="@_model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3>Microsoft To-Do Settings</h3>
    <div class="row">
        <label>
            Client Id
            <InputText class="form-control" id="clientid" @bind-Value="_model.ClientId"></InputText>
        </label>
    </div>

    <div class=row>
    <label>
        Client Secret
        <InputText class="form-control"  id="clientsecret" @bind-Value="_model.ClientSecret"></InputText>
    </label>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
    <ValidationSummary/>

</EditForm>

@code {
    MsToDoSettings _model = new MsToDoSettings();

    private void HandleValidSubmit()
    {
    }
}
