@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <h3>Microsoft To-Do Settings</h3>
    <div class="row">
        <label>
            Client Id
            <InputText class="form-control" id="clientid" @bind-Value="model.ClientId"></InputText>
        </label>
    </div>

    <div class=row>
    <label>
        Client Secret
        <InputText class="form-control"  id="clientsecret" @bind-Value="model.ClientSecret"></InputText>
    </label>
    </div>
    <button type="submit" class="btn btn-primary">Apply</button>
    <ValidationSummary/>

</EditForm>

@code {
    MSToDoSettings model = new MSToDoSettings();

    private void HandleValidSubmit()
    {
        var path = Configuration["MSTodoSettingsPath"];
        var mstodoSettingsHandler = new SettingsHandler<MSToDoSettings>(model, path);
        mstodoSettingsHandler.WriteSettingsToFile();
    }
}
