@page "/"

<div class="container-lg my-5">
    <div class="col-sm-12 col-lg-8">
        <CanvasComponent></CanvasComponent>
    </div>
</div>



<div class="container-lg my-5">
    <div class="col-sm-12 col-lg-8">
        <div class="row">
            <MsToDoComponent></MsToDoComponent>
        </div>
    </div>

</div>

@code {

}
