@page "/"

<div class="container-lg my-5">
    <div class="col-sm-12 col-lg-12">
        <div class="row">
            <CanvasComponent></CanvasComponent>
        </div>
    </div>

</div>
<div class="container-lg my-5">
    <div class="col-sm-12 col-lg-12">

        <div class="row">
            <MSToDoComponent></MSToDoComponent>
        </div>
    </div>

</div>

@code {

}
